.surf-club-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 200px;
    max-width: 300px; /* Limite la largeur de la carte */
    position: relative; /* Permet à la superposition d'être placée correctement */
}

.surf-club-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
   
}

/* Lien sans décoration */
.surf-club-link {
    text-decoration: none;
    color: inherit;
}

/* Wrapper de l'image */
.surf-club-image-wrapper {
    width: 100%;
    height: 150px; /* Taille spécifique pour l'image/logo */
    border-bottom: 2px solid #f0f0f0;
    padding: 10px; /* Ajoute un peu de marge autour du logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.surf-club-image {
    max-width: 100px; /* Limite la taille du logo */
    height: auto;
    object-fit: contain;
}

/* Informations du club (nom sans superposition par défaut) */
.surf-club-info {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px; /* Arrondit les coins inférieurs de la carte */
}

.surf-club-name {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #289db9;
}

/* Superposition lors du hover */
.surf-club-card:hover .surf-club-overlay {
    opacity: 1; /* La superposition devient visible au survol */
}

/* Superposition noire qui couvre toute la carte au hover */
.surf-club-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0) !important; /* Couleur noire semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0; /* Par défaut, invisible */
    transition: opacity 0.3s ease; /* Transition pour l'apparition de la superposition */
    border-radius: 10px; /* Garde la carte bien arrondie même avec la superposition */
}

.surf-club-overlay .surf-club-name {
    color: #fff; /* Le nom devient blanc lors du hover */
}
