/* src/pages/Header.css */
#header {
    width: 100%;
    background-color: #f8f9fa; /* Couleur de fond pour le header */
    position: relative;
    z-index: 1000; /* Assure que le header est toujours au-dessus des autres éléments */
}

#navbar {
    padding: 0.25rem 1rem; /* Réduit le padding autour du contenu du navbar */
    height: auto; /* Laissez la hauteur s'ajuster au contenu */
}

#navbar-brand {
    font-size: 1.25rem; /* Taille de la police pour le logo du navbar */
    line-height: 56px; /* Aligne le texte verticalement au centre */
}

#navbar-toggler {
    border: none; /* Enlever la bordure du bouton de basculement */
}

#nav-links {
    margin-right: auto; /* Espacement automatique à droite pour aligner les éléments de navigation */
    display: flex; /* Utiliser flex pour aligner les éléments horizontalement */
    align-items: center; /* Aligner les éléments verticalement au centre */
}

#nav-links .nav-item {
    margin-right: 1rem; /* Espacement entre les éléments de navigation */
}

#auth-buttons {
    margin-left: auto; /* Aligner les boutons de connexion/déconnexion à droite */
    display: flex; /* Utiliser flex pour aligner les boutons horizontalement */
    align-items: center; /* Aligner les boutons verticalement au centre */
}

#nav-item-login .btn-primary {
    background-color: #007bff; /* Couleur de fond pour le bouton Login */
    border-color: #007bff; /* Couleur de bordure pour le bouton Login */
}

#nav-item-logout .btn-danger {
    background-color: #dc3545; /* Couleur de fond pour le bouton Logout */
    border-color: #dc3545; /* Couleur de bordure pour le bouton Logout */
}

/* Pour éviter le chevauchement du contenu avec la barre de navigation fixe */
.content {
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
}
