.auth-buttons-desktop {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-buttons-desktop .nav-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.1rem;
}

.auth-buttons-desktop .nav-link .me-2 {
    margin-right: 8px; /* Adjusted for better spacing */
}

.auth-buttons-desktop .btn {
    margin-left: 10px;
}

.auth-buttons-desktop .badge {
    background-color: #dc3545;
    color: white;
    font-size: 0.9rem;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    margin-left: 5px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.logo {
    height: 50px;
}

.navbar-brand {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .auth-buttons-desktop {
        flex-direction: column;
        margin-left: 0;
    }

    .auth-buttons-desktop .btn {
        margin-left: 0;
        margin-top: 10px;
    }
}
